.hash-navigation-active {
  @apply text-indigo-700 font-semibold lg:border-b-2 lg:border-indigo-700;
}

mark {
  background-color: transparent !important;
  @apply bg-gradient-to-r from-indigo-800 via-indigo-500 to-indigo-800 text-transparent bg-clip-text;
}

.rich-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-indigo-900 mt-3 mb-5;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-base leading-8 mb-5;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul,
  ol {
    @apply list-inside text-slate-900 my-4;
  }
  pre {
    @apply bg-slate-100 rounded-md py-3 px-5 font-mono;
  }
  strong {
    @apply font-extrabold;
  }
  a {
    @apply text-indigo-600 hover:text-indigo-800 font-semibold;
  }
  img {
    @apply rounded-xl mx-auto my-5 inline-block;
  }
  table {
    @apply table;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  table {
    @apply w-full mb-5;

    thead {
      @apply hidden lg:table-header-group bg-slate-100;
      tr {
        th {
          @apply py-4 px-4;
        }
      }
    }

    tbody {
      tr {
        @apply table-row py-0;
        td {
          @apply border-b border-gray-300 py-3 px-4;
          max-width: 290px;
        }
      }
    }
  }
}
